.blog__card-link {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  margin: 16px 0 50px 48px;
  transition: opacity 1s ease;
}

.blog__card-link:hover {
  opacity: 0.5;
}
