.blog__card:hover {
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.05);
}

.blog__card {
  margin-right: 30px;
  width: 570px;
  height: 290px;
  transition: box-shadow 0.5s linear;
  display: flex;
  flex-direction: column;
}

.blog__card:last-of-type {
  margin-right: 0;
}
